body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #222;
}

header {
    background: linear-gradient(90deg, #000000, #1a1a1a);
    padding: 15px 50px;
    border-bottom: 3px solid #ff2b2b;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    margin-top: 3px;
}

nav a {
    color: white;
    margin:  10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    padding-bottom: 5px;
}

nav a:hover {
    color: #ff2e2e;
    border-bottom: 2px solid #ff2e2e;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;
    position: relative;
}


nav ul li a:hover {
    color: #ff2b2b;
}

nav ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #ff2b2b;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
    width: 100%;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)),
                url('https://via.placeholder.com/1200x400') no-repeat center;
    background-size: cover;
}

.hero h2 {
    color: #111;
}

.hero p {
    color: #444;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #ff2e2e;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background-color: #cc0000;
}

.page-title {
    text-align: center;
    margin: 40px 0 20px;
    color: #ff2e2e;
}

.products {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    width: 220px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08); 
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(255,46,46,0.2);
}

.card img {
    width: 100%;        
    height: 180px;      
    object-fit: cover;  
    border-radius: 6px;
}

}

.card h3 {
    color: #111;
}

.card p {
    color: #ff2e2e;
    font-weight: bold;
}

.card button {
    padding: 10px 15px;
    background-color: #111;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.3s;
}

.card button:hover {
    background-color: #ff2e2e;
}

.about {
    padding: 60px 20px;
    text-align: center;
    background-color: #ffffff;
}

footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-section img {
    width: 170px;
    height: 60px;
}

.logo-section h1 {
    color: #ff2b2b;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0;
    font-style: italic;
    font-family: serif, Times New Roman;
}

.logo {
    width: 200px;
    height: 150px;
    object-fit: contain;
}

.contact {
    padding: 60px 20px;
    background-color: #ffffff;
    text-align: center;
}

.contact-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 350px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    width: 100%;
    resize: none;
}

.contact-form button {
    background-color: #ff2e2e;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background-color: #cc0000;
}

.contact-info {
    max-width: 300px;
    text-align: left;
}

.contact-info h3 {
    color: #ff2e2e;
    margin-bottom: 15px;
}

.contact-info p {
    margin-bottom: 10px;
    color: #222;
}






